.country-modal {
  &-container {
    z-index: 1000;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, 0);

    .modal-close {
      color: #aaa;
      float: right;
      font-size: 16px;
      margin: 5px 10px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  &-body {
    background: #fff;
    margin: 0px;
    padding: 50px;
    border-radius: 5px;
  }

  &-background {
    z-index: 900;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
  }
}
