.country-detail-container {
  min-width: 512px;
  .country-detail-header {
    display: flex;
    .country-name {
      display: inline;
      font-weight: bold;
      font-size: 32px;
    }

    .country-detail-flag {
      margin-left: auto;
      margin-right: 0px;
      .country-image {
        img {
          height: 120px;
          width: 180px;
        }
      }
    }
  }

  .country-detail-body {
    margin-top: -80px;
    .country-detail-item {
      margin: 5px 0px;
      display: block;
      .label {
        font-weight: bold;
      }
    }
  }

  .bold{
    font-weight: bold;
  }
}
